
gamedir/logs/*
gamedir/saves/*
!gamedir/saves/template
package/*
push_steam_nightly.sh
steamworks_sdk_151/*

# vscode
.vscode/*
!.vscode/launch.json

# rust
/target
Cargo.lock

# tools
/Tracy-0.9.7
mods.svg
